<div id="<%= dom_id reservation %>">
  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>Check in:</strong>
    <%= reservation.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= reservation.check_out %>
  </p>

</div>
