<h1>Editing pricing strategy</h1>

<%= render "form", pricing_strategy: @pricing_strategy %>

<br>

<div>
  <%= link_to "Show this pricing strategy", @pricing_strategy %> |
  <%= link_to "Back to pricing strategies", pricing_strategies_path %>
</div>
