<h1>Editing classification</h1>

<%= render "form", classification: @classification %>

<br>

<div>
  <%= link_to "Show this classification", @classification %> |
  <%= link_to "Back to classifications", classifications_path %>
</div>
