@tailwind base;
@tailwind components;
@tailwind utilities;

.preview-item {
  position: relative;
}

.preview-image {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  max-width: 140px;
  padding: 0.75rem;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: grey;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px 5px;
  z-index: 10;
}

input[type="submit"] {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow
}

button[type="submit"] {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 border border-gray-400 rounded shadow
}

input[type="submit"] {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow
}

a {
  @apply bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-2 border border-gray-400 rounded shadow
}
